body {
  margin: 0;
}

.wrapper{
  display: flex;
  align-items: center;
}

.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 85px;
  background-color: white;
}

.same {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  color: #0290ff;
  font-family: 'Times New Roman', Times, serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: #a4a7af;
  text-decoration: none;
  margin: 0 10px;
  font-size: 15px;
  cursor: pointer;
}

a:hover: {
  color: black;
  cursor: pointer;
  text-decoration:underline;
}

/* #root {
  width: 85%;
  margin: 0 auto;
  background-color: #f5f6fa;
  box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
  margin-top: 80px;
} */

/* .image{
  background-color: red;
  width: 500px;
} */
.rocketImage{
  width: 200px;
  height: 150px;
}

small {
  background-color: #0290ff;
  font-size: 18px;
  margin-right: 5px;
}
